.header {
  display: flex;
  justify-content: center;

  background-color: $background_header;

  padding-bottom: 65px;

  @include mobile {
    padding-bottom: clamp(40px, 8.464vw, 65px);
  }

  .container {
    display: flex;

    @include mobile {
      margin: 0 40px;
    }
  }

  @include mobile {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
    "header-logo-section header-logo-section"
    "header-contact-section header-contact-section";
    }
    .header-logo-section {
      grid-area: header-logo-section;
    }
    .header-contact-section {
      grid-area: header-contact-section;
    }
  }

  &-logo-section {
    display: flex;

    padding-top: 65px;
    gap: 12px;

    width: 273px;

    @include mobile {
      padding-top: clamp(40px, 8.464vw, 65px);
    }

    img {
      width: 100px;
      height: 100px;
    }

    &-info {
      display: flex;
      flex-direction: column;

      gap: 14px;

      &-title {
        padding-top: 8px;
        color: $grey;

        font-size: 30px;
        font-weight: 900;
        line-height: 0.77;
        letter-spacing: 0.06em;

        @include mobile {
          font-size: clamp(26px, 3.906vw, 30px);
        }
      }

      &-text {
        color: $grey;

        font-weight: 500;
        letter-spacing: 0.055em;
      }
    }
  }

  &-contact-section {
    padding-top: 45px;

    margin-left: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include small-laptop {
      justify-content: center;
    }
    @include tablet {
      justify-content: center;
    }
    @include mobile {
      padding-top: clamp(32px, 5.859vw, 45px);

      justify-content: center;
    }

    ul {
      li {
        color: $grey;

        font-weight: 300;
        font-size: 28px;
        letter-spacing: 0.072em;
        line-height: 1.7;
        transform: scaleY(1.45);
        transform-origin: bottom;

        @include small-laptop {
          font-size: clamp(24px, 2.188vw, 28px);
        }
        @include tablet {
          font-size: clamp(20px, 2.344vw, 24px);
        }
        @include mobile {
          font-size: clamp(22px, 3.646vw, 28px);
        }
      }
    }

    .feedback {
      color: $grey;

      font-size: 25px;
      font-weight: 700;
      line-height: 0.4;

      text-decoration: underline dashed;
      text-underline-offset: 3px;

      cursor: pointer;

      @include small-laptop {
        font-size: clamp(22px, 1.953vw, 25px);
      }
      @include tablet {
        font-size: clamp(18px, 2.148vw, 22px);
      }
      @include mobile {
        font-size: clamp(18px, 3.255vw, 25px);
      }
    }
  }
}